<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300372166579-dcng6e758k0460r33d5a0t8cuj5pildc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300372166579-dcng6e758k0460r33d5a0t8cuj5pildc</string>
	<key>API_KEY</key>
	<string>AIzaSyDXvUNasA4IkafLLvKmCFaEN2QgfWu346k</string>
	<key>GCM_SENDER_ID</key>
	<string>300372166579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.laan.labs.SwiftSurvey-Firebase</string>
	<key>PROJECT_ID</key>
	<string>swiftsurvey-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftsurvey-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300372166579:ios:6d620ee9fec30f628c6dc6</string>
</dict>
</plist>